---
import Layout from '../layouts/Layout.astro';
import MainView from '../components';
import { NavBar } from '../components/NavBar/NavBar';
---

<Layout title="Welcome to Astro.">
	<main>
    <NavBar/>
    <MainView client:load />
	</main>
</Layout>

